# Pandas

Pandas is a powerful library for data manipulation and analysis in Python. It is widely used in a range of fields, including data science, finance, and statistics.

## 002 Basic DataFrame manipulation

## 002.000 Assets

Some assets to avoid too much typing

The content of the tsv file is:

| Name        | Age|
|-------------|----|
| Mbappé      | 23 |
| De Bruyne   | 31 |
| Lewandowski | 33 |
| Benzema     | 34 |
| Messi       | 35 |

In [1]:
import sys
from pathlib import Path

current_dir = Path().resolve()
while current_dir != current_dir.parent and current_dir.name != "katas":
    current_dir = current_dir.parent
if current_dir != current_dir.parent:
    sys.path.append(current_dir.as_posix())

In [2]:

import pandas as pd
from lib.utils import fresh_df

### 002.001 Indices

1. Print the df - not that it has an unnamed index column, created by Pandas
1. Rename the index column to 'ID', and print it again

In [3]:
df = fresh_df(src="002.tsv")
# solution

### 002.002 Basic cell access

1. Get a new DataFrame, with "Name" as the index column
1. Save "De Bruyne" to a var and use it to fetch the DOB with the loc method
1. Save "Benzema" to a var and use it to fetch the DOB with the iloc method

In [4]:
df = fresh_df(src="002.tsv", id="Name")
print(df)
# solution

                    DOB
Name
Mbappé       1998-12-20
De Bruyne    1991-06-28
Lewandowski  1988-08-21
Benzema      1987-12-19
Messi        1987-06-24

### 002.003 Columns

1. Get a new dataframe
1. Add a "Profession" column at the end, with "footballer" as a value for all rows
1. Add a "Still Playing" column at the beginning, with True as value for all rows
1. Rename the "Still Playing" column as "Active"
1. Print the dataframe
1. Remove the "Profession" column
1. Print the dataframe

In [5]:
df = fresh_df(src="002.tsv")
print(df)
# solution

          Name         DOB
0       Mbappé  1998-12-20
1    De Bruyne  1991-06-28
2  Lewandowski  1988-08-21
3      Benzema  1987-12-19
4        Messi  1987-06-24

### 002.004 Applying transforms

1. Get a fresh DataFrame
2. Convert the DOB column to datetime
3. Create a new column Age, by using 'apply' to derive the data from the DOB
1. Print it, and print the type of each column
1. The same, but  using 'map'; this time convert the Age to string.
1. Print it, and print the type of each column

In [6]:
from datetime import datetime

df = fresh_df(src="002.tsv")
print(df)
# solution

          Name         DOB
0       Mbappé  1998-12-20
1    De Bruyne  1991-06-28
2  Lewandowski  1988-08-21
3      Benzema  1987-12-19
4        Messi  1987-06-24